upstream django {
    server unix:/tmp/uwsgi.sock;
}

server {
    listen 8080;
    server_name -;
    error_log stderr warn;
    access_log /dev/stdout combined;

    location / {
        uwsgi_pass django;
        include /etc/nginx/uwsgi_params;
    }

    location /static/ {
        alias /app/static/;
    }

    location /media/ {
        alias /app/media/;
    }
}