{% extends 'articles/base.html' %}
{% load i18n %}
{% load article_filters %}

{% block title %}{% trans "Archives" %}{% endblock %}

{% block content %}
  <h1>{% trans "Archives" %}</h1>

  {% if bad_archive is not None and bad_archive != "list" %}
  <h1>{% trans "No archive" %} '{{ bad_archive }}' -- {% trans "available archives are:" %}</h1>
  {% endif %}

  <p>{% trans "Choose one of the following archives" %}.</p>

  <ul>
    {% for archive in archives %}
    <li><a href="{% url 'articles:archive' archive.id %}">{{ translation_dict|dict_get_key:archive.full_name }}</a> ({{ archive.id }})</li>
    {% endfor %}
  </ul>

  <p>{% trans "or from one of the following archives which no longer accept submissions" %}
    ({% trans "these have been subsumed into the archives listed above" %})</p>

  <ul>
    {% for archive in defunct %}
    <li><a href="{% url 'articles:archive' archive.canonical_id %}">{{ translation_dict|dict_get_key:archive.full_name }}</a> ({{ archive.id }}, {% trans "subsumed into" %} {{ archive.canonical_id }})</li>
    {% endfor %}
  </ul>

{% endblock %}
