{% extends 'articles/base.html' %}
{% load i18n %}
{% load article_filters %}

{% block title %}{{ translation_dict|dict_get_key:archive.full_name }}{% endblock %}

{% block content %}
  <h1>{{ translation_dict|dict_get_key:archive.full_name }} <span style="font-size: 70%;">({% trans "since" %} {{ archive.start_date|date:"F Y" }})</span></h1>

  {% if subsumed_id %}
    <p>The <b>{{ subsumed_id }}</b> archive has been subsumed into
      <span class="primary-subject">{{ translation_dict|dict_get_key:subsuming_category.full_name }} ({{ subsuming_category.id }}).</span></p>
    <p>{{ translation_dict|dict_get_key:subsuming_category.full_name }} ({{ subsuming_category.id }}) {% trans "is part of the" %} {{ translation_dict|dict_get_key:archive.full_name }} {% trans "archive" %}.</p>
  {% endif %}


  <p>{% trans "For a" %} <em>{% trans "specific paper" %}</em>, {% trans "enter the identifier into the top right search box" %}.</p>

  <ul>
    <li><b>{% trans "Browse:" %}</b>
      <ul>
        <li>
          <a href="{% url 'articles:list_articles' context=archive.id subcontext='new' %}">{% trans "new" %}</a>
          ({% trans "most recent mailing, with abstracts" %})
        </li>
        <li>
          <a href="{% url 'articles:list_articles' context=archive.id subcontext='recent' %}">{% trans "recent" %}</a>
          ({% trans "last 5 mailings" %})
        </li>
        <li>
          <a href="{% url 'articles:list_articles' context=archive.id subcontext='current' %}">{% trans "current month's" %}</a>
          {{ archive.id }} {% trans "listings" %}
        </li>
        <li>{% trans "specific year/month:" %}
          <form action="{% url 'articles:list_default' %}" method="get">
            {% csrf_token %}
            {{ list_form.archive }}
            {{ list_form.year }} {{ list_form.month }}
            <button type="submit">{% trans "Go" %}</button>
          </form>
        </li>
      </ul>
    </li>

    <li><b>{% trans "Catch-up:" %}</b>
      <form id="catchup-form" action="{% url 'articles:catchup_form' %}" method="get" onsubmit="catchupParamSelection('{{ archive.id }}')">
        {% csrf_token %}
        <input id="catchup_archive" type="hidden" value="{{ archive.id }}"/>
        <input type="hidden" id="subject" name="subject" />
        {% if archive.get_categories|length > 1 %}
          <label for="catchup_category">{% trans "Categories:" %}</label>
          <select name="catchup_category" id="catchup_category">
              <option value="" selected>{% trans "All" %}</option>
              {% for category in archive.get_categories %}
                  <option value="{{ category.id }}">
                      {{ translation_dict|dict_get_key:category.full_name }}
                  </option>
              {% endfor %}
          </select>
          <br>
        {% endif %}

        {% trans "Changes since:" %}
        <select id="catchup_day">
          {% for day in days %}
              <option value="{{ day }}">{{ day }}</option>
          {% endfor %}
        </select>
        <select id="catchup_month">
            {% for val, name in months %}
                <option value="{{ val }}" {% if val == current_month %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>
        <select id="catchup_year">
            {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
        <input type="hidden" id="date" name="date" />

        {% trans ", view results" %}
        <select name="include_abs">
          <option value="False" selected> {% trans "without" %} </option>
          <option value="True" > {% trans "with" %} </option>
        </select>
        {% trans "abstracts" %}

        <input type="submit" value="{% trans 'Go' %}"/>
      </form>
    </li>

    <li><b>{% trans "Search" %}</b> {% trans "within the" %} <a href="{% url 'articles:search_archive' archive.id %}">{{ archive.id }} {% trans "archive" %} </a></li>

    <li>{% trans "Article statistics by year:" %}<br>
      {% for url, year in stats_by_year %}
      <a href="{{ url }}">{{ year }}</a>
      {% endfor %}
    </li>

  </ul>

  {% if  category_list|length > 1 %}
  <h2>{% trans "Categories within" %} {{ translation_dict|dict_get_key:archive.full_name }}</h2>
  <ul>
    {% for category in category_list %}
      <li><b>{{ category.id }} - {{ translation_dict|dict_get_key:category.full_name }}</b>
        (<a href="{% url 'articles:list_articles' context=category.id subcontext='new' %}">{% trans "new" %}</a>,
        <a href="{% url 'articles:list_articles' context=category.id subcontext='recent' %}">{% trans "recent" %}</a>,
        <a href="{% url 'articles:list_articles' context=category.id subcontext='current' %}">{% trans "current month" %}</a>)
        {% if category.description %}
          <div class="description">{{ category.description }}</div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}

  <script>
    function catchupParamSelection(archive) {
      var day = document.getElementById('catchup_day').value.padStart(2, '0');
      var month = document.getElementById('catchup_month').value.padStart(2, '0');
      var year = document.getElementById('catchup_year').value;
      var combinedDate = `${year}-${month}-${day}`;
      document.getElementById('date').value = combinedDate;

      var categoryElement = document.getElementById('catchup_category');
      var category = categoryElement ? categoryElement.value : "";
      var subject;
      if (category && category !== "") {
        subject = category;
      } else {
        subject = archive;
      }
      document.getElementById('subject').value = subject
    }
  </script>
{% endblock %}
