{% extends 'articles/base.html' %}
{% load i18n %}

{% block content %}
<div class="author-search-results">
    <h1>{% trans "Articles by" %} {{ author_name }}</h1>
    
    {% if articles %}
        <div class="articles-list">
            {% for article in articles %}
                <article class="article">
                    <h2 class="title">{{ article.title }}</h2>
                    <p class="authors">{{ article.authors }}</p>
                    <p class="abstract">{{ article.abstract }}</p>
                    <p class="meta">
                        <a href="{{ article.pdf_url }}" target="_blank">PDF</a>
                        | {% trans "Category" %}: {{ article.category }}
                        | {% trans "Published" %}: {{ article.published_date|date:"Y-m-d" }}
                    </p>
                </article>
            {% endfor %}
        </div>
        
        {% if pagination %}
            <div class="pagination">
                {% if pagination.prev_page %}
                    <a href="?page={{ pagination.prev_page }}" class="prev-page">
                        &larr; {% trans "Previous" %}
                    </a>
                {% endif %}
                
                <span class="page-info">
                    {% trans "Page" %} {{ pagination.current_page }} {% trans "of" %} {{ pagination.total_pages }}
                </span>
                
                {% if pagination.next_page %}
                    <a href="?page={{ pagination.next_page }}" class="next-page">
                        {% trans "Next" %} &rarr;
                    </a>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        <p>{% trans "No articles found for this author." %}</p>
    {% endif %}
</div>
{% endblock %} 