{% extends "articles/base.html" %}
{% load static %}
{% load i18n %}
{% load article_filters %}

{#Catchup is a varaiation of the new page, but for days in the past and has set pagination#}

{% block head %}
  {{ block.super }}
  <script src="{% static 'js/mathjaxToggle.min.js' %}" type="text/javascript"></script>
  <script type="text/javascript">mathjaxToggle();</script>
{% endblock head %}

{% block header_h1 %}
<div class="header-breadcrumbs">
  <a href="{% url 'articles:home' %}"><img src="{% static 'images/cenxiv-logo-one-color-white.svg' %}" alt="cenxiv logo" style="height:40px;"/></a> <span>&gt;</span>
  <a href="{% url 'articles:catchup_form' %}">{% trans "Catchup" %}</a>
</div>
{% endblock %}

{% block content %}
<div id='content-inner'>
<div id='dlpage'>
  <h1>{% trans "Catchup results for" %} {{ translation_dict|dict_get_key:subject.full_name }} {% trans "on" %} {{ date_adbY }}</h1>

  {% block list_index %}
    <ul>
      {% for ityp in index_for_types %}
      <li><a href="{{ityp.1}}#item{{ityp.2}}">{{ityp.0}}</a></li>
      {% endfor %}
    </ul>

  {% endblock %}

  {% block pre_items %}
    <div>
      {% if next_day %}
        {% url 'articles:catchup' subject=subject.id date=next_day as base_url %}
        <a href="{{ base_url }}?abs={{ include_abs }}&page=1">{% trans "Continue to the next day" %}</a>
        <br><br>
      {% endif %}

      {% trans "Total of" %} {{ count }} {% trans "entries for" %} {{ date_adbY }}
      {% if paging|length > 0 %}
      {% trans "View page:" %}
        {% for number, link in paging %}

          {% if link == 'no-link' %}
            <span>{{ number }}</span>
          {% else %}
            <a href={{ link }}>{{ number }}</a>
          {% endif %}

        {% endfor %}
      {% endif %}

    </div>
  {% endblock %}

  {% block items %}

    {% for sec in sub_sections_for_types %}
      {%if sec.visible%}
        <dl id='articles'>
        {% if sec.heading %}
            <h3>{{ sec.heading }}</h3>
        {% endif %}

        {% if sec.items|length == 0 %}
            <p>{% trans "No updates for this time period." %}</p>
        {% endif %}

        {% for item in sec.items %}
            {% with item.article as article %}
            <dt>
              <a name='item{{ item.list_index }}'>[{{ item.list_index }}]</a>
              <a href="{% url 'articles:abstract' article.arxiv_id %}" title="{% trans 'Abstract' %}" id="{{ article.arxiv_id }}">
                arXiv:{{ article.arxiv_id }}
              </a>
                {% if item.listingType == 'cross' %}
                  ({% trans "cross-list from" %} {{ item.primary }})
                {% endif %}
                {% if item.listingType == 'rep' %}
                  ({% trans "replaced" %})
                {% endif %}

              [<a href="{% url 'articles:cn_pdf' article.arxiv_id %}" title="{% trans 'Download Chinese PDF' %}" id="cn-pdf-{{ article.arxiv_id }}" aria-labelledby="cn-pdf-{{ article.arxiv_id }}">{% trans 'cn-pdf' %}</a>,
              <a href="{% url 'articles:pdf' article.arxiv_id %}" title="{% trans 'Download PDF' %}" id="pdf-{{ article.arxiv_id }}" aria-labelledby="pdf-{{ article.arxiv_id }}">pdf</a>{% if article.latexml_link %}, <a href="{{ article.latexml_link }}" title="{% trans 'View HTML' %}" id="html-{{ article.arxiv_id }}" aria-labelledby="html-{{ article.arxiv_id }}" rel="noopener noreferrer" target="_blank">html</a>{% endif %}{% if article.other_link %}, <a href="{{ article.other_link }}" title="{% trans 'Other formats' %}" id="oth-{{ article.arxiv_id }}" aria-labelledby="oth-{{ article.arxiv_id }}">{% trans 'other' %}</a>{% endif %}]
            </dt>
            <dd>
              <div class='meta'>
                <div class='list-title mathjax'><span class='descriptor'>{% trans "Title:" %}</span>
                  {{ article.title }}
                  <button id="toggle-title-{{ article.arxiv_id }}" type="button">{{ article.show_title_text }}</button>
                </div>
                <div class='list-title mathjax' id="title-other-language-{{ article.arxiv_id }}" style="display: none;"><span class='descriptor'>{% trans "Title:" %}</span>
                  {{ article.title_other_language }}
                </div>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        const toggleButton = document.getElementById('toggle-title-{{ article.arxiv_id }}');
                        const titleOtherLanguage = document.getElementById('title-other-language-{{ article.arxiv_id }}');

                        toggleButton.addEventListener('click', function() {
                            if (titleOtherLanguage.style.display === 'none') {
                                titleOtherLanguage.style.display = 'block'; // Show the title
                                toggleButton.textContent = '{{ article.hide_title_text }}';
                            } else {
                                titleOtherLanguage.style.display = 'none'; // Hide the title
                                toggleButton.textContent = '{{ article.show_title_text }}';
                            }
                        });
                    });
                </script>
                {{ article.authors_list|safe }}

                {% if article.comments %}
                <div class='list-comments mathjax'><span class='descriptor'>{% trans "Comments:" %}</span>
                  {{ article.comments }}
                </div>
                {% endif %}

                {% if article.journal_ref %}
                <div class='list-journal-ref'><span class='descriptor'>{% trans "Journal-ref:" %}</span>
                  {{ article.journal_ref }}
                </div>
                {% endif %}

                <div class='list-subjects'><span class='descriptor'>{% trans "Subjects:" %}</span>
                  <span class="primary-subject">{{ article.primary_display }}</span>
                  {% if article.secondary_categories %}
                    {% for category in article.secondaries_display %}
                        ; {{ category }}
                    {% endfor %}
                  {% endif %}
                </div>

                {% if list_type == 'new' %}
                <p class='mathjax'>
                  {{ article.abstract }}
                  <button id="toggle-abstract-{{ article.arxiv_id }}" type="button">{{ article.show_abstract_text }}</button>
                </p>
                <p class='mathjax' id="abstract-other-language-{{ article.arxiv_id }}" style="display: none;">
                  {{ article.abstract_other_language }}
                </p>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        const toggleButton = document.getElementById('toggle-abstract-{{ article.arxiv_id }}');
                        const abstractOtherLanguage = document.getElementById('abstract-other-language-{{ article.arxiv_id }}');

                        toggleButton.addEventListener('click', function() {
                            if (abstractOtherLanguage.style.display === 'none') {
                                abstractOtherLanguage.style.display = 'block'; // Show the abstract
                                toggleButton.textContent = '{{ article.hide_abstract_text }}';
                            } else {
                                abstractOtherLanguage.style.display = 'none'; // Hide the abstract
                                toggleButton.textContent = '{{ article.show_abstract_text }}';
                            }
                        });
                    });
                </script>
                {% endif %}
              </div>
            </dd>
            {% endwith %}

        {% endfor %}
        </dl>
      {% endif %}
    {% endfor %}

    {% if count == 0 %}
      <br>
      {% if page > 1 %}
        <div>
          {% trans "No further updates for" %} {{ date_adbY }}
          <br>
            {% url 'articles:catchup' subject=subject.id date=date_Ymd as base_url %}
            <a href="{{ base_url }}?abs={{ include_abs }}&page=1">{% trans "Go to page 1" %}</a>
        </div>
      {% else %}
        <div>
          <p>{% trans "No updates for" %} {{ date_adbY }}. {% trans "There was either no announcement for this day, or no updates within the requested subject." %}</p>
        </div>
      {% endif %}
      <br>
    {% endif %}

  {% endblock %}

  {% block post_items %}
    <div>
    {% trans "Total of" %} {{ count }} {% trans "entries for" %} {{ date_adbY }}
    {% if paging|length > 0 %}
    {% trans "View page:" %}
      {% for number, link in paging %}

        {% if link == 'no-link' %}
          <span>{{ number }}</span>
        {% else %}
          <a href={{ link }}>{{ number }}</a>
        {% endif %}

      {% endfor %}
    {% endif %}

      {% if next_day %}
        <br> <br>
        {% url 'articles:catchup' subject=subject.id date=next_day as base_url %}
        <a href="{{ base_url }}?abs={{ include_abs }}&page=1">{% trans "Continue to the next day" %}</a>
      {% endif %}
    </div>
  {% endblock %}

</div>
</div>
{% endblock %}
