{% extends 'articles/base.html' %}
{% load i18n %}

{% block title %}cenXiv.org e-Print archive{% endblock %}

{% block body_id %}id="front"{% endblock %}

{% block content %}
<div class="columns">
  <div class="column intro-and-news is-half-desktop">
        <h2>{% trans "Welcome to cenXiv" %}</h2>
        <p class="tagline">{% trans "A Chinese-English bilingual interface for " %}<a href="https://arxiv.org" target="_blank">arXiv</a></p>

    {#  /multi sends to either search, catchup or form interface based on which button is hit. #}
    <form name="home-adv-search" class="home-search" action="/multi" method="get" role="search">
      {% csrf_token %}
      <label for="search-category">Subject search and browse:</label><br>
      <select name="group" title="Search in" id="search-category">
      {% for group_key, group_details in groups.items %}
        {% if not group_details.is_test %}
          <option
              value="{{ group_key }}"
              data-url="{% url 'articles:search_archive' group_key|slice:'4:' %}"
              {% if group_key == 'grp_physics' %}selected="selected"{% endif %}>
            {{ group_details.full_name }}
          </option>
        {% endif %}
      {% endfor %}
      </select>
      <input id="adv-search-btn" type="button" value="Search">
      <input type="submit" name="/form" value="Form Interface">
      <input id="catchup-btn" type="submit" name="/catchup" value="Catchup">
    </form>
    <script type="text/javascript">
      //catchup no long hosted from multi
      document.getElementById('catchup-btn').addEventListener('click', function(event) {
        document.querySelector('form[name="home-adv-search"]').action = "{% url 'articles:catchup_form' %}";
      });

     function doAdvSearchBtn(event) {
         sel = document.querySelector('select[name="group"]')
         if(sel && sel.options && sel.options[sel.selectedIndex].dataset.url ){
             data_url = sel.options[sel.selectedIndex].dataset.url
             if( data_url ){
                 window.location = data_url;
             }else{
                 console.error('home page search button: no data_url found for search');
             }
         }
     }
     document.addEventListener('DOMContentLoaded',function() {
         document.getElementById('adv-search-btn').onclick=doAdvSearchBtn;
     },false);
    </script>
  </div>
  <!-- special message column -->
</div><!-- /end columns -->


    {% for group_id, group in groups.items %}
        {% if not group.is_test %}
            <h2>{{ group.full_name }}</h2>
            <ul>
                {% for archive in group.get_archives|dictsort:"full_name" %}
                    <li>
                        <a href="{% if archive.id != 'cs' %}{% url 'articles:archive' archive.id %}{% else %}https://info.arxiv.org/help/cs/index.html{% endif %}" id="main-{{ archive.id }}" aria-labelledby="main-{{ archive.id }}">{% if archive.id != 'cs' %}{{ archive.full_name }}{% else %}Computing Research Repository{% endif %}</a>
                        (<strong id="{{ archive.id }}">{% if archive.id != 'cs' %}{{ archive.id }}{% else %}CoRR{% endif %}</strong>
                        <a href="{% url 'articles:list_articles' context=archive.id subcontext='new' %}?skip=0&show=1000" id="new-{{ archive.id }}" aria-labelledby="new-{{ archive.id }} {{ archive.id }}">new</a>,
                        <a id="recent-{{ archive.id }}" aria-labelledby="recent-{{ archive.id }} {{ archive.id }}" href="/list/{{ archive.id }}/recent">recent</a>,
                        <a id="search-{{ archive.id }}" aria-labelledby="search-{{ archive.id }} {{ archive.id }}" href="{% url 'articles:search_archive' archive.id %}">search</a>)
                        {% if group.id == 'grp_physics' and archive.id not in categories %}
                            <br/> includes:
                        {% elif group.id == 'cs' %}
                            <br/>includes:
                            (see <a href="{% url 'articles:archive' archive.id %}" id="details-{{ archive.id }}" aria-labelledby="details-{{ archive.id }} main-{{ archive.id }}">detailed description</a>):
                        {% elif group.id != 'grp_physics' %}
                            <br/>includes: (see <a href="{% url 'articles:help_archive_description' archive.id %}" id="details-{{ archive.id }}" aria-labelledby="details-{{ archive.id }} main-{{ archive.id }}">detailed description</a>):
                        {% endif %}

                        {% for category in archive.get_categories|dictsort:"full_name" %}
                            {% if not forloop.first or not forloop.last or group.id != 'grp_physics' %}
                            <a href="/list/{{ category.id }}/recent" id="{{ category.id }}" aria-labelledby="main-{{ archive.id }} {{ category.id }}">{{ category.full_name }}</a>{% if not forloop.last %}; {% endif %}
                            {% endif %}
                        {% endfor %}
                    </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}


<hr />
<h2>About arXiv</h2>
<ul>
  <li><a href="#">General information</a></li>
  <li><a href="#">How to Submit to arXiv</a></li>
  <li><a href="#">Membership &amp; Giving</a></li>
  <li><a href="#">Who We Are</a></li>
</ul>


{% endblock %}